NEXT_PUBLIC_COURSE_API_BASE=https://api.10minuteschool.com/discovery-service/api/v1/products
NEXT_PUBLIC_SOURCE_PLATFORM=web
NEXT_PUBLIC_VIDEO_THUMB= https://img.youtube.com/vi/30y-wlDtIIQ/hqdefault.jpg
NEXT_PUBLIC_VIDEO_LINK= https://www.youtube.com/watch?v=30y-wlDtIIQ
